/*********************************
Table of Contents
1. CSS Reset
2. Global Styles
3. Header & Nav
4. Main Body Content
5. Shared Page Class Styles
6. Footer Content
***********************************/

/*********************************
1. CSS Reset
http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126 - License: none (public domain)
***********************************/
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*********************************
2. Global Styles
***********************************/
body{
    background-color: antiquewhite;
    min-width: 400px;
}
p{
  color:DarkSlateGray;
  font-family: sans-serif;
  line-height: 1.5rem;
}

/*********************************
3. Header & Nav
***********************************/
.logoSection{
    background: url(images/purty_wood_@2X.png);
    padding: 20px;
    margin: 0;
}
/*********************************
4. Home Page
***********************************/
.homeIntro{
	padding: 20px;
}
.jumbotron{
    width: 100%;
    background-color:#aaa;
    height:300px;
}
.jumbotronImg{
		background: url(images/jumbotron01.jpg) no-repeat 50% 5%;
		background-size: cover;
  	height:100%;
    /*background-image: url(images/jumbotron01.jpg);
    background-position: 50% 5%;
    background-repeat: no-repeat;*/

}
.jumbotronInfo{
    width: 100%;
    background-color:#000;
}
.jumbotronInfo p{
    color:white;
    text-align: center;
}
.featureWrapper{
    width:100%;
    margin: 0 10%;
}
.feature01,.feature02, .feature03{
  width:80%;
  padding:2%;
  margin:1%;
  border-radius: 10px;
}
.feature01{
  background-color: tomato;
}
.feature02{
  background-color: teal;
}
.feature03{
  background-color: tomato;
}
img{
  width:70%;
  padding:0 1%;
  margin:0 auto;
  display:block;
}
h1 {
  font-family: 'Londrina Solid', sans-serif;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 1px;
  color:#000;
}
h2, .featureTitle{
  font-family: 'Londrina Solid', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  color: white;
}
/*********************************
5. Shared Page Content
***********************************/

/*********************************
6. Footer
***********************************/
footer{
    width: 100%;
    background-color: #aaa;
    height: 40px;
    clear: both;
}
.footerText{
		font-family: sans-serif;
		font-size: 1rem;
    color:white;
    text-align: center;
		padding:1% 0;
}
/*************************************/
/*****Large Screen Media Queries*****/
@media screen and (min-width:750px)
{
	/*********************************
	Header & Nav
	***********************************/
	nav{
	    background-color:#aaa;
	    padding:1% 0;
	}
	.navWrapper{
	    width:95%;
	    margin: 0 auto;
	    padding-left:2%;
	}
	ul li{
	    list-style-type: none;
	    display: inline;
	}
	.navPatterns a{
	    color: white;
	    text-decoration: none;
	    display: inline-block;
	    width:15%;
	    text-align: center;
	    margin:0 2%;
	    font-family: 'Slabo 27px', serif;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	}
	.navPatterns a:hover{
	    color: teal;
	}
	/*********************************
	Home Page
	***********************************/
	.featureWrapper{
	  	margin: 0 auto;
	}
	.feature01, .feature02, .feature03{
	    float:right;
	    width:27.333333333%;
	    padding:2%;
	    margin: 5% 1%;
	    border-radius: 10px;
	  }

}
